.search-results {
    padding: 20px;
    background-color: #222;
    color: white;
    min-height: 100vh;
    text-align: center;
}

.search-results h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.nothing-found {
    font-size: 18px;
    color: #ccc;
    margin-top: 20px;
}
